In [1]:
import pandas as pd

In [6]:
df2 = pd.read_csv('Uncleaned_DS_jobs.csv')

In [7]:
df2.head()

,index,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors
0,0,Sr Data Scientist,$137K-$171K (Glassdoor est.),Description\n\nThe Senior Data Scientist is re...,3.1,Healthfirst\n3.1,"New York, NY","New York, NY",1001 to 5000 employees,1993,Nonprofit Organization,Insurance Carriers,Insurance,Unknown / Non-Applicable,"EmblemHealth, UnitedHealth Group, Aetna"
1,1,Data Scientist,$137K-$171K (Glassdoor est.),"Secure our Nation, Ignite your Future\n\nJoin ...",4.2,ManTech\n4.2,"Chantilly, VA","Herndon, VA",5001 to 10000 employees,1968,Company - Public,Research & Development,Business Services,$1 to $2 billion (USD),-1
2,2,Data Scientist,$137K-$171K (Glassdoor est.),Overview\n\n\nAnalysis Group is one of the lar...,3.8,Analysis Group\n3.8,"Boston, MA","Boston, MA",1001 to 5000 employees,1981,Private Practice / Firm,Consulting,Business Services,$100 to $500 million (USD),-1
3,3,Data Scientist,$137K-$171K (Glassdoor est.),JOB DESCRIPTION:\n\nDo you have a passion for ...,3.5,INFICON\n3.5,"Newton, MA","Bad Ragaz, Switzerland",501 to 1000 employees,2000,Company - Public,Electrical & Electronic Manufacturing,Manufacturing,$100 to $500 million (USD),"MKS Instruments, Pfeiffer Vacuum, Agilent Tech..."
4,4,Data Scientist,$137K-$171K (Glassdoor est.),Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions\n2.9,"New York, NY","New York, NY",51 to 200 employees,1998,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,"Commerce Signals, Cardlytics, Yodlee"

In [11]:
df2.columns

Index(['index', 'Job Title', 'Salary Estimate', 'Job Description', 'Rating',
       'Company Name', 'Location', 'Headquarters', 'Size', 'Founded',
       'Type of ownership', 'Industry', 'Sector', 'Revenue', 'Competitors'],
      dtype='object')

In [14]:
#Salary parsing (regex; lambda function)

df2 = df2[df2['Salary Estimate'] != '-1']

df2['hourly'] = df2['Salary Estimate'].apply(lambda x: 1 if 'per hour' in x.lower() else 0)
df2['employer_provided'] = df2['Salary Estimate'].apply(lambda x: 1 if 'employer provided salary' in x.lower() else 0)

#extracts the range
salary = df2['Salary Estimate']
salary = df2['Salary Estimate'].apply(lambda x: x.split('(')[0])

#remove the K and the $
minus_Kd = salary.apply(lambda x: x.replace('K', '').replace('$', ''))

#remove the 'per hour' and 'emp...' from some cells
min_hr = minus_Kd.apply(lambda x: x.replace('per hour', '').replace('employer provided salary', ''))

#create new columns for min & max salary
df2['min_salary'] = min_hr.apply(lambda x: int(x.split('-')[0]))
df2['max_salary'] = min_hr.apply(lambda x: int(x.split('-')[1]))

#create a column for avg salary
df2['avg_salary'] = (df2.min_salary + df.max_salary)/2
df2.head()

,index,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors,hourly,employer_provided,min_salary,max_salary,avg_salary
0,0,Sr Data Scientist,$137K-$171K (Glassdoor est.),Description\n\nThe Senior Data Scientist is re...,3.1,Healthfirst\n3.1,"New York, NY","New York, NY",1001 to 5000 employees,1993,Nonprofit Organization,Insurance Carriers,Insurance,Unknown / Non-Applicable,"EmblemHealth, UnitedHealth Group, Aetna",0,0,137,171,154.0
1,1,Data Scientist,$137K-$171K (Glassdoor est.),"Secure our Nation, Ignite your Future\n\nJoin ...",4.2,ManTech\n4.2,"Chantilly, VA","Herndon, VA",5001 to 10000 employees,1968,Company - Public,Research & Development,Business Services,$1 to $2 billion (USD),-1,0,0,137,171,154.0
2,2,Data Scientist,$137K-$171K (Glassdoor est.),Overview\n\n\nAnalysis Group is one of the lar...,3.8,Analysis Group\n3.8,"Boston, MA","Boston, MA",1001 to 5000 employees,1981,Private Practice / Firm,Consulting,Business Services,$100 to $500 million (USD),-1,0,0,137,171,154.0
3,3,Data Scientist,$137K-$171K (Glassdoor est.),JOB DESCRIPTION:\n\nDo you have a passion for ...,3.5,INFICON\n3.5,"Newton, MA","Bad Ragaz, Switzerland",501 to 1000 employees,2000,Company - Public,Electrical & Electronic Manufacturing,Manufacturing,$100 to $500 million (USD),"MKS Instruments, Pfeiffer Vacuum, Agilent Tech...",0,0,137,171,154.0
4,4,Data Scientist,$137K-$171K (Glassdoor est.),Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions\n2.9,"New York, NY","New York, NY",51 to 200 employees,1998,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,"Commerce Signals, Cardlytics, Yodlee",0,0,137,171,154.0

In [18]:
#Company name

df2['company_txt'] = df2.apply(lambda x: x['Company Name'] if x['Rating'] < 0 else x['Company Name'][:-3], axis=1)
df2['company_txt'] = df2['company_txt'].apply(lambda x: x.replace('\n', ' '))
df2.head(10)

,index,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,...,Industry,Sector,Revenue,Competitors,hourly,employer_provided,min_salary,max_salary,avg_salary,company_txt
0,0,Sr Data Scientist,$137K-$171K (Glassdoor est.),Description\n\nThe Senior Data Scientist is re...,3.1,Healthfirst\n3.1,"New York, NY","New York, NY",1001 to 5000 employees,1993,...,Insurance Carriers,Insurance,Unknown / Non-Applicable,"EmblemHealth, UnitedHealth Group, Aetna",0,0,137,171,154.0,Healthfirst
1,1,Data Scientist,$137K-$171K (Glassdoor est.),"Secure our Nation, Ignite your Future\n\nJoin ...",4.2,ManTech\n4.2,"Chantilly, VA","Herndon, VA",5001 to 10000 employees,1968,...,Research & Development,Business Services,$1 to $2 billion (USD),-1,0,0,137,171,154.0,ManTech
2,2,Data Scientist,$137K-$171K (Glassdoor est.),Overview\n\n\nAnalysis Group is one of the lar...,3.8,Analysis Group\n3.8,"Boston, MA","Boston, MA",1001 to 5000 employees,1981,...,Consulting,Business Services,$100 to $500 million (USD),-1,0,0,137,171,154.0,Analysis Group
3,3,Data Scientist,$137K-$171K (Glassdoor est.),JOB DESCRIPTION:\n\nDo you have a passion for ...,3.5,INFICON\n3.5,"Newton, MA","Bad Ragaz, Switzerland",501 to 1000 employees,2000,...,Electrical & Electronic Manufacturing,Manufacturing,$100 to $500 million (USD),"MKS Instruments, Pfeiffer Vacuum, Agilent Tech...",0,0,137,171,154.0,INFICON
4,4,Data Scientist,$137K-$171K (Glassdoor est.),Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions\n2.9,"New York, NY","New York, NY",51 to 200 employees,1998,...,Advertising & Marketing,Business Services,Unknown / Non-Applicable,"Commerce Signals, Cardlytics, Yodlee",0,0,137,171,154.0,Affinity Solutions
5,5,Data Scientist,$137K-$171K (Glassdoor est.),About Us:\n\nHeadquartered in beautiful Santa ...,4.2,HG Insights\n4.2,"Santa Barbara, CA","Santa Barbara, CA",51 to 200 employees,2010,...,Computer Hardware & Software,Information Technology,Unknown / Non-Applicable,-1,0,0,137,171,154.0,HG Insights
6,6,Data Scientist / Machine Learning Expert,$137K-$171K (Glassdoor est.),Posting Title\nData Scientist / Machine Learni...,3.9,Novartis\n3.9,"Cambridge, MA","Basel, Switzerland",10000+ employees,1996,...,Biotech & Pharmaceuticals,Biotech & Pharmaceuticals,$10+ billion (USD),-1,0,0,137,171,154.0,Novartis
7,7,Data Scientist,$137K-$171K (Glassdoor est.),Introduction\n\nHave you always wanted to run ...,3.5,iRobot\n3.5,"Bedford, MA","Bedford, MA",1001 to 5000 employees,1990,...,Consumer Electronics & Appliances Stores,Retail,$1 to $2 billion (USD),-1,0,0,137,171,154.0,iRobot
8,8,Staff Data Scientist - Analytics,$137K-$171K (Glassdoor est.),Intuit is seeking a Staff Data Scientist to co...,4.4,Intuit - Data\n4.4,"San Diego, CA","Mountain View, CA",5001 to 10000 employees,1983,...,Computer Hardware & Software,Information Technology,$2 to $5 billion (USD),"Square, PayPal, H&R Block",0,0,137,171,154.0,Intuit - Data
9,9,Data Scientist,$137K-$171K (Glassdoor est.),Ready to write the best chapter of your career...,3.6,XSELL Technologies\n3.6,"Chicago, IL","Chicago, IL",51 to 200 employees,2014,...,Enterprise Software & Network Solutions,Information Technology,Unknown / Non-Applicable,-1,0,0,137,171,154.0,XSELL Technologies

In [25]:
#state field

df2['city'] = df2['Location'].apply(lambda x: x.split(',')[0])
df2['state'] = df2['Location'].apply(lambda x: x.split(',')[-1])
df2.head()

,index,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,...,Sector,Revenue,Competitors,hourly,employer_provided,min_salary,max_salary,avg_salary,company_txt,city
0,0,Sr Data Scientist,$137K-$171K (Glassdoor est.),Description\n\nThe Senior Data Scientist is re...,3.1,Healthfirst\n3.1,"New York, NY","New York, NY",1001 to 5000 employees,1993,...,Insurance,Unknown / Non-Applicable,"EmblemHealth, UnitedHealth Group, Aetna",0,0,137,171,154.0,Healthfirst,New York
1,1,Data Scientist,$137K-$171K (Glassdoor est.),"Secure our Nation, Ignite your Future\n\nJoin ...",4.2,ManTech\n4.2,"Chantilly, VA","Herndon, VA",5001 to 10000 employees,1968,...,Business Services,$1 to $2 billion (USD),-1,0,0,137,171,154.0,ManTech,Chantilly
2,2,Data Scientist,$137K-$171K (Glassdoor est.),Overview\n\n\nAnalysis Group is one of the lar...,3.8,Analysis Group\n3.8,"Boston, MA","Boston, MA",1001 to 5000 employees,1981,...,Business Services,$100 to $500 million (USD),-1,0,0,137,171,154.0,Analysis Group,Boston
3,3,Data Scientist,$137K-$171K (Glassdoor est.),JOB DESCRIPTION:\n\nDo you have a passion for ...,3.5,INFICON\n3.5,"Newton, MA","Bad Ragaz, Switzerland",501 to 1000 employees,2000,...,Manufacturing,$100 to $500 million (USD),"MKS Instruments, Pfeiffer Vacuum, Agilent Tech...",0,0,137,171,154.0,INFICON,Newton
4,4,Data Scientist,$137K-$171K (Glassdoor est.),Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions\n2.9,"New York, NY","New York, NY",51 to 200 employees,1998,...,Business Services,Unknown / Non-Applicable,"Commerce Signals, Cardlytics, Yodlee",0,0,137,171,154.0,Affinity Solutions,New York

In [32]:
#is the location the same as that of the company headquarters

df2['same_state'] = df2.apply(lambda x: 1 if x['Location'] == x['Headquarters'] else 0, axis=1)
df2.head()

,index,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,...,Competitors,hourly,employer_provided,min_salary,max_salary,avg_salary,company_txt,city,state,same_state
0,0,Sr Data Scientist,$137K-$171K (Glassdoor est.),Description\n\nThe Senior Data Scientist is re...,3.1,Healthfirst\n3.1,"New York, NY","New York, NY",1001 to 5000 employees,1993,...,"EmblemHealth, UnitedHealth Group, Aetna",0,0,137,171,154.0,Healthfirst,New York,NY,1
1,1,Data Scientist,$137K-$171K (Glassdoor est.),"Secure our Nation, Ignite your Future\n\nJoin ...",4.2,ManTech\n4.2,"Chantilly, VA","Herndon, VA",5001 to 10000 employees,1968,...,-1,0,0,137,171,154.0,ManTech,Chantilly,VA,0
2,2,Data Scientist,$137K-$171K (Glassdoor est.),Overview\n\n\nAnalysis Group is one of the lar...,3.8,Analysis Group\n3.8,"Boston, MA","Boston, MA",1001 to 5000 employees,1981,...,-1,0,0,137,171,154.0,Analysis Group,Boston,MA,1
3,3,Data Scientist,$137K-$171K (Glassdoor est.),JOB DESCRIPTION:\n\nDo you have a passion for ...,3.5,INFICON\n3.5,"Newton, MA","Bad Ragaz, Switzerland",501 to 1000 employees,2000,...,"MKS Instruments, Pfeiffer Vacuum, Agilent Tech...",0,0,137,171,154.0,INFICON,Newton,MA,0
4,4,Data Scientist,$137K-$171K (Glassdoor est.),Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions\n2.9,"New York, NY","New York, NY",51 to 200 employees,1998,...,"Commerce Signals, Cardlytics, Yodlee",0,0,137,171,154.0,Affinity Solutions,New York,NY,1

In [38]:
#Age of the company

df2['age'] = df2['Founded'].apply(lambda x: x if x<1 else 2023 - x)
df2.head()

,index,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,...,hourly,employer_provided,min_salary,max_salary,avg_salary,company_txt,city,state,same_state,age
0,0,Sr Data Scientist,$137K-$171K (Glassdoor est.),Description\n\nThe Senior Data Scientist is re...,3.1,Healthfirst\n3.1,"New York, NY","New York, NY",1001 to 5000 employees,1993,...,0,0,137,171,154.0,Healthfirst,New York,NY,1,30
1,1,Data Scientist,$137K-$171K (Glassdoor est.),"Secure our Nation, Ignite your Future\n\nJoin ...",4.2,ManTech\n4.2,"Chantilly, VA","Herndon, VA",5001 to 10000 employees,1968,...,0,0,137,171,154.0,ManTech,Chantilly,VA,0,55
2,2,Data Scientist,$137K-$171K (Glassdoor est.),Overview\n\n\nAnalysis Group is one of the lar...,3.8,Analysis Group\n3.8,"Boston, MA","Boston, MA",1001 to 5000 employees,1981,...,0,0,137,171,154.0,Analysis Group,Boston,MA,1,42
3,3,Data Scientist,$137K-$171K (Glassdoor est.),JOB DESCRIPTION:\n\nDo you have a passion for ...,3.5,INFICON\n3.5,"Newton, MA","Bad Ragaz, Switzerland",501 to 1000 employees,2000,...,0,0,137,171,154.0,INFICON,Newton,MA,0,23
4,4,Data Scientist,$137K-$171K (Glassdoor est.),Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions\n2.9,"New York, NY","New York, NY",51 to 200 employees,1998,...,0,0,137,171,154.0,Affinity Solutions,New York,NY,1,25

In [39]:
#parse the Job description
df2['python'] = df2['Job Description'].apply(lambda x: 1 if 'python' in x.lower() else 0)
df2['excel'] = df2['Job Description'].apply(lambda x: 1 if 'excel' in x.lower() else 0)
df2['aws'] = df2['Job Description'].apply(lambda x: 1 if 'aws' in x.lower() else 0)
df2['tableau'] = df2['Job Description'].apply(lambda x: 1 if 'tableau' in x.lower() else 0)
df2['spark'] = df2['Job Description'].apply(lambda x: 1 if 'spark' in x.lower() else 0)

df2.head()

,index,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,...,company_txt,city,state,same_state,age,python,excel,aws,tableau,spark
0,0,Sr Data Scientist,$137K-$171K (Glassdoor est.),Description\n\nThe Senior Data Scientist is re...,3.1,Healthfirst\n3.1,"New York, NY","New York, NY",1001 to 5000 employees,1993,...,Healthfirst,New York,NY,1,30,0,0,1,0,0
1,1,Data Scientist,$137K-$171K (Glassdoor est.),"Secure our Nation, Ignite your Future\n\nJoin ...",4.2,ManTech\n4.2,"Chantilly, VA","Herndon, VA",5001 to 10000 employees,1968,...,ManTech,Chantilly,VA,0,55,0,0,0,0,0
2,2,Data Scientist,$137K-$171K (Glassdoor est.),Overview\n\n\nAnalysis Group is one of the lar...,3.8,Analysis Group\n3.8,"Boston, MA","Boston, MA",1001 to 5000 employees,1981,...,Analysis Group,Boston,MA,1,42,1,1,1,0,0
3,3,Data Scientist,$137K-$171K (Glassdoor est.),JOB DESCRIPTION:\n\nDo you have a passion for ...,3.5,INFICON\n3.5,"Newton, MA","Bad Ragaz, Switzerland",501 to 1000 employees,2000,...,INFICON,Newton,MA,0,23,1,1,1,0,0
4,4,Data Scientist,$137K-$171K (Glassdoor est.),Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions\n2.9,"New York, NY","New York, NY",51 to 200 employees,1998,...,Affinity Solutions,New York,NY,1,25,1,1,0,0,0

In [57]:
#function to extract value counts of skills columns

def value(x):
    return df2[x].value_counts()

In [83]:
#create a separate dataframe for the desired skills

df_skills = pd.DataFrame({"Python": value('python'), "Excel": value('excel'), "Tableau": value('tableau'), "AWS": value('aws'), "Spark": value('spark')})
df_skills = df_skills.transpose()
df_skills.rename(columns = {0: 'No', 1:'Yes'}, inplace=True)
df_skills

          No  Yes
Python   181  491
Excel    376  296
Tableau  549  123
AWS      498  174
Spark    483  189

In [90]:
df_skills['percentage'] = df_skills['Yes']*100/(df_skills['No']+df_skills['Yes'])
df_skills['percentage'] = df_skills['percentage'].round(2)
df_skills.sort_values('percentage', ascending=False, inplace=True)
df_skills

          No  Yes  percentage
Python   181  491       73.07
Excel    376  296       44.05
Spark    483  189       28.12
AWS      498  174       25.89
Tableau  549  123       18.30

In [92]:
df2.to_csv('salary_cleaned_set.csv', index=False)